<!DOCTYPE html>
<html>
  <head>
    <title>Makers BnB</title>
  </head>
  <body>
    <% if @user %>
      <h1>Welcome, <%= @user %>!</h1>
    <%else %>
      <h1>Welcome to Makers BnB!</h1>
    <%end%>

    <h3>Sign up here!</h3>
    <form  action="/new-user" method="post">
      <input type="text" name="name" placeholder="Enter your name">
      <input type="email" name="signupemail" placeholder="Enter your email">
      <input type="password" name="password" placeholder="Enter a password">
      <input type="submit" name="" value="Sign up">

    </form>
    <form action="/add-listing" method="post">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="picture" placeholder="Picture url">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
