<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
  </head>
  <body>
    <div class="page-container">
      <div class="banner-container">
        <h1 class="banner-title">MakersBnB</h1>
      </div>
      <div class="content-and-border-container">
        <div class="page-border">

        </div>
        <div class="content-container">
          <%= yield %>
        </div>
        <div class="page-border">

        </div>
      </div>
      <div class="footer-container">
        <footer>Created by Jenny, Carlos, Dan, Josh and Matt</footer>
      </div>
    </div>
  </body>
</html>
