<h1>Log in with your email and password:</h1>

<form class="" action="/sessions/new" method="post">
  <input type="email" name="email" placeholder="Enter your email">
  <input type="password" name="password" placeholder="Enter your password">
  <input type="submit" name="" value="log in">
</form>
