<h3>Sign up here!</h3>
<form  action="/users" method="post">
  <input type="text" name="name" placeholder="Enter your name">
  <input type="email" name="signupemail" placeholder="Enter your email">
  <input type="password" name="password" placeholder="Enter a password">
  <input type="submit" name="" value="Sign up">
</form>
