.page-container {
}

.content-and-border-container {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
}

.page-border {
  background-color: green;
  height: 100%;
}

.banner-container {
  background-color: red;
  text-align: center;
  height: 100px;
  grid-column: 1 / 4;
}

.banner-title {
  display: inline-block;
  vertical-align: middle;
}

.footer-container {
  background-color: blue;
}
